body {
font-family:helvetica, arial;
}

a:link {
text-decoration:none;
cursor: pointer;
}

.kubota-theme {
color: #fff !important;
background-color:rgb(0,168,169) !important;
}


.kubota-holder {
color:rgb(0,168,169) !important; /* -- do not display on phone/tablets -- */
}

#myHeader {
position:fixed;
width:100%;
z-index:3;
}

.nav-links {
margin:auto;
overflow:auto;
}

.nav-links ul li {
list-style:none;
padding: 8px 16px;
}

.w3-modal {
width:75%;}

.w3-modal-content {
border: 30px solid rgb(0,168,169);
width:50%px;
}

.nav-button {
border: none;
display: inline-block;
padding: 8px 16px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
width:100%;
padding-inline-start: 0px;
margin-left:-20px;
}

.nav-button a:hover {
background-color:#ccc;
}

.padding {
padding: 0.01em 16px;
}

.padding-sm {
padding: 0.01em 8px;
}

.wrapper {

}

.first {
height:56px}




.creditbar ul {
display: table-cell;
padding-right: 10px;
padding-top:15px;
padding-bottom:0px;
padding-inline-start: 5px;
}

.creditbar ul li {
display: inline-block;
vertical-align: top;
letter-spacing: normal;
margin-bottom: 9px;
padding: 0px 8px;
list-style:none;
width:50%;
line-height:15px;
}


.creditbar2 ul {
display: table-cell;
padding-right: 5px;
padding-top:15px;
padding-bottom:0px;
padding-inline-start: 5px;
}

.creditbar2 ul li {
display: inline-block;
vertical-align: top;
letter-spacing: normal;
margin-bottom: 9px;
padding: 0px 8px;
list-style:none;
line-height:15px;

}



.creditimg {
float:right;
width:90%;
height:98px;
background-color:black;
display:table-cell;
margin-top:15px;
margin-right:5%;
margin-bottom:10px
}

.creditimg-text {
text-align: center;
vertical-align: middle;}

.bottom-block {
width:98%;
margin:5px auto;
border-top:1px rgb(162,215,219) solid;
display:table;
}

.bottomcred {
align:center;
width: 100%;
display:table;
margin:auto;

}

.bottomcred ul {
padding-inline-start: 0px;
}

.bottomcred ul li {
letter-spacing: normal;
width: 26%;
padding:5px 0px 0px 10px;
vertical-align:center;
list-style:none;
background*-color:black;
}



.bottomcred2 {
padding-top: 10px;
text-align:center;
width:100%;
margin:auto;
}

.@media (min-width:993px) {.bottomcred2 {
float:right;
}}

.hero-main {
max-height:500px;
overflow:hidden;
background-size:cover;
margin-bottom:5px;
}

.socialmedia {
display:table;
width:100%;
margin:auto;
}

.socialbutton {
display:table-cell;
border: none;
display: inline-block;
padding: 8px 16px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
white-space: nowrap;
font-size: 20px;
}

.copyright {
text-align:center;
margin-top:-25px;
padding-bottom:20px
}
.w3-container {
border: 1px solid grey;
margin-bottom:5px}

.infobox-1 {
width: 50vw;
height: 25vw;
background:rgb(0,168,169);
margin-left:25px;
margin-right:15px;
float:left;
display:table;
}

.ib1-text {
font-size:100%;
color:white;
padding:60px 32px;

}

.square-box{
position: relative;
overflow: hidden;
background: rgba(0,168,169, 1);
margin:15px 10px 5px 0px ;
}

.square-box:before{
content: "";
display: block;
padding-top: 90%;

}

.square-content{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
color: white;
text-align: center;
display:table-cell;
vertical-align:middle;
}

.h1-title {
font-family:helvetica;
font-size:50;
font-weight:lighter;
border-bottom: 1px solid rgb(0,168,169);
padding: 0px 0px 8px 10px;
text-align:center;
width:100%;
}
@media (min-width:601px){
  
 .square-box {
width:95%;
  }

.square-content {
font-size: 3.5vw;
}

  .hero-main {
    width:1640px;
    height:500px;
  
.bottomcred .creditbar2 ul li {
width:33%;
margin:auto;}

.aboutgallery {
width:100%;
margin-top:10px;
}

.aboutgallery-img{
max-width:300px;
margin: auto;
}}

@media (max-width:600px){ .square-box, .aboutgallery {
width:100%;
}

.square-content{
font-size:15vw;}

.h1-title {
margin: auto;
width:90%;
}

.aboutgallery-img {
width:100%;
margin: 5px auto;
}

.aboutfiller, .kubota-holder {display:none;}


}}

.aboutgallery {
margin:auto;
display:table;
position: relative;
overflow: hidden;
margin-top:10px;
}

.aboutgallery-img {
width:95%;
background-image:url(https://via.placeholder.com/300);
background-size:cover;
background-position:center;

}

.aboutgallery-img:before{
content: "";
display: block;
padding-top: 95%;

}

.h1-titleb {
font-family:helvetica;
font-size:40;
font-weight:lighter;
border-bottom: 1px solid rgb(0,168,169);
padding: 0px 0px 8px 10px;
text-align:center;
width:70%;
margin:10px auto
}

.bottom { margin-top:40px;}

.mapouter{text-align:right;height:auto;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:auto;width:95%;}
